@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  background-color: #151515;
  background-image: url(logo.gif);
  background-position: 33px 30px;
  background-repeat: no-repeat;
  background-size: 400px 210px;
  color: #EEE;
  font-family: 'VT323', monospace;
  font-size: 1.6rem;
  line-height: 1.5em;
  padding: 25px;
  padding-top: 250px;
}

#scanlines {
  background-image: url(scanline.svg);
  background-size: 4px;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
}

#container {
  max-width: 600px;
}

h1 {
  color: #0FF;
  font-size: inherit;
  font-weight: normal;
  margin: 25px 0;
}

#highscores {
  border-collapse: collapse;
  width: 100%;
}

#highscores tr td,
#highscores tr th {
  font-weight: bold;
  text-align: left;
  width: 30%;
}

#highscores tr td:first-child {
  text-align: left;
  width: 40%;
}

#highscores tr td:last-child,
#highscores tr th:last-child {
  text-align: right;
}

#addscore a {
  color: #0D0;
  cursor: pointer;
}

#addscore input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #EEE;
  color: #EEE;
  font-family: 'VT323', monospace;
  font-size: inherit;
  text-transform: uppercase;
}
