@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  margin: 0;
  padding: 0
}

body {
  background-color: #151515;
  background-image: url('logo.gif');
  background-position: 24px 17px;
  background-repeat: no-repeat;
  background-size: 442px 238px;
  color: #EEE;
  font-family: 'VT323', monospace;
  font-size: 26px;
  line-height: 33.8px;
  letter-spacing: 1px;
  padding: 23px;
  padding-top: 280px;
}

#scanlines {
  background-image: url('grid.png');
  background-size: 11.35px 17px;
  //background-image: url('scanline.svg');
  //background-size: 4px;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
}

#container {
  max-width: 600px;
}

h1 {
  color: #0FF;
  font-size: inherit;
  font-weight: normal;
  margin: 17px 0;
}

#highscores {
  border-collapse: collapse;
  width: 100%;
}

#highscores tr td,
#highscores tr th {
  font-weight: bold;
  text-align: left;
  width: 30%;
}

#highscores tr td:first-child {
  text-align: left;
  width: 40%;
}

#highscores tr td:last-child,
#highscores tr th:last-child {
  text-align: right;
}

#addscore input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #EEE;
  color: #EEE;
  font-family: 'VT323', monospace;
  font-size: inherit;
  text-transform: uppercase;
}

#addscore a {
  border: none;
  color: #0D0;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 17px 0;
}

#chart {
  margin-bottom: -9px;
  margin-top: 10px;
}

#chart .bar {
  background-color: red;
  height: 17px;
}

@media only screen and (max-width: 600px) {
  body {
    background-position: -46px 17px;
  }
}
