<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>212-ARCADE</title>
    <meta name="description" content="................................" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>
    <div id="scanlines"></div>

    <div id="container">

        <h1>HIGH SCORES - PACMAN</h1>
        <table id="highscores">
          <tr>
            <th>NAME</th>
            <th>DATE</th>
            <th>SCORE</th>
          </tr>
          <tr>
            <td>TAB</td>
            <td>2018-01-03</td>
            <td>181123</td>
          </tr>
        </table>

      <h1>ADD SCORE</h1>

      <form id="addscore">
        NAME:&nbsp;<input id="name" type="text" /><br />
        DATE:&nbsp;<input id="date" type="text" /><br />
        SCORE:<input id="score" type="text" /><br />
        <p>
          <a id="submit">SUBMIT-&gt;</a>
        </p>
      </form>

    </div>

    <script src="{{ url_for('static', filename='js.js') }}"></script>

  </body>

</html>
